@model IEnumerable<ContactQuality.Models.Competency>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutParameters.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-condensed table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyFor)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyFor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CompID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CompID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CompID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
